/********** GENERICS ***********/

:root {
    --height: 350px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #23272a;
}

img {
    max-width: 100%;
}

.col-1-6 {
    width: calc(100% / 6);
}

.col-1-3- {
    width: calc(100% / 3);
}

.col-4-6 {
    width: calc(100% / 6*4);
}

.col-5-6 {
    width: 700px;
}

.col-1-3 {
    width: 30%;

}

.col-2-3 {
    width: 65%;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* FLEX */

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.center-align {
    align-items: center;
}


.align-top {
    align-items: top;
}

.jumbo-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 35px;
}

/* PADDING E MARGIN*/


.padding-s {
    padding: 15px;
}

.padding-m {
    padding: 25px;
}

.padding-l {
    padding: 55px;
}



.pad-s {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pad-m {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pad-l {
    padding-top: 50px;
    padding-bottom: 50px;
}


/* CSS TEXT */

.txt-s {
    font-size: 0.8rem;
}

.txt-m {
    font-size: 1.2rem;
}


.txt-center {
    text-align: center;
}

.txt-dx {
    text-align: end;
}


.txt-white {
    color: #ffff;
}


h4,
.txt-cyan {
    color: #8da0e0;
}


/*** BG COLORS ***/



.bg-jumbo {
    background-image: url(../img/jumbo.png);
    padding: 30px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/* colore bg grey #f6f6f6*/
.bg-grey {
    background-color: #9e9e9e;

}



.bg-black {
    background-color: #23272a;
}


.bg-cyan {
    background-color: #8da0e0;
}




/********** UTILITIES ************/

nav {
    background-color: #3161e0;
    justify-content: space-between;

}

a {
    text-decoration: none;
    color: white;
}

p {
    line-height: 26px;
    font-size: 1.1rem;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 1.9rem;
}

.bottom {
    border-top: 1px solid #8da0e0;
    padding-bottom: 50px;

}


.test {
    margin-top: 15px;
    justify-content: space-between;
}


.bg-sky {
    background-color: #3161e0;
}


.btn {
    border-radius: 20px;
    padding: 12px;
    border: none;
    font-size: bolder;
}



li {
    list-style: none;
    padding: 5px 0;
    color: white;
    font-size: 0.9rem;
}

.flag {
    width: 25px;
    height: 15px;
    margin-right: 10px;

}

i {
    color: #ffff;
    margin-right: 20px;
    font-size: 1.1em;
}

.stars {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: top;
}