/********** GENERICS ***********/

:root {
    --height: 350px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #23272a;
}

img {
    max-width: 100%;
}

.col-1-6 {
    width: calc(100% / 6);
}

.col-1-3- {
    width: calc(100% / 3);
}

.col-4-6 {
    width: calc(100% / 6*4);
}

.col-5-6 {
    width: 600px;
}

.col-1-3 {
    width: 40%;

}

.col-2-3 {
    width: 60%;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}


.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.center-align {
    align-items: center;
}

.justify-space {
    justify-content: space-around;
}

.padding-s {
    padding: 15px;
}

.padding-m {
    padding: 25px;
}

.pad-s {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pad-m {
    padding-top: 30px;
    padding-bottom: 30px;
}


/* CSS TEXT */

.txt-s {
    font-size: 0.8rem;
}

.txt-m {
    font-size: 1.2rem;
}


.txt-center {
    text-align: center;
}

.txt-dx {
    text-align: end;
}


.txt-white {
    color: #ffff;
}





/*** BG COLORS ***/



.bg-jumbo {
    background-image: url(../img/jumbo.png);
    padding: 30px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-pink {
    background-color: pink;
    height: var(--height);

}





.bg-grey {
    background-color: #d3d3d3;

}

.bg-green {
    background-color: green;
    height: 600px;
}


.bg-black {
    background-color: #23272a;

}


.bg-salmon {
    background-color: salmon;
    height: var(--height)
}

.bg-turq {
    background-color: darkturquoise;
    height: var(--height)
}

.bg-aqua {
    background-color: aquamarine;
}

.bg-rose {
    background-color: #ffb6c1;
}

/********** UTILITIES ************/

nav {
    background-color: #3161e0;
    justify-content: space-between;

}

a {
    text-decoration: none;
    color: white;
}

p {
    line-height: 30px;
}

footer {
    border-top: 1px solid white;

}


.test {
    margin-top: 15px;
    justify-content: space-between;
}


.bg-sky {
    background-color: #3161e0;
}


.btn {
    border-radius: 20px;
    padding: 12px;
    border: none;

}